@model CSharpExercises.Models.FizzBuzzModel

@{
    ViewBag.Title = "FizzBuzz";
}

<h2>FizzBuzz</h2>

<h5>Show FizzBuzz:</h5>
<form action="@Url.Action("FizzBuzz", "Exercises")" method="post">
    <button type="submit">FizzBuzz</button>
    <input type="text" name="strArray" value="" disabled/>
</form>

