@model CSharpExercises.Models.MaxViewModel

@{
    ViewBag.Title = "Max of Three";
}

<h2>Max of Three</h2>

<form action="@Url.Action("MaxOfThree", "Exercises")" method="post">
    <label>Input number: </label><input type="number" name="n1" value="@if (Model != null) { @Model.n1}" /><br />
    <label>Input number: </label><input type="number" name="n2" value="@if (Model != null) { @Model.n2}" /><br />
    <label>Input number: </label><input type="number" name="n3" value="@if (Model != null) { @Model.n3}" /><br />
    <label>Max: </label><input type="number" name="max" value="@if (Model != null) {@Model.max}" disabled /><br />
    <button type="submit">Get Max</button>
</form>