@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Steven Potts</h1>
    <p class="lead">This is a landing page that leads to various exercises I have completed, which can be found in the navbar above.</p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>